/* COMMON STYLES */

body
  font-family: Lato, sans-serif
  color: white
  background-color: #1b1c16
  font-size: 62.5%



@import blocks/layout/layout
@import blocks/logo/logo
@import blocks/menu/menu
@import blocks/service/service
//@import blocks/slider/slider
@import blocks/team-member/team-member
@import blocks/socials/socials
@import blocks/button/button
@import blocks/filter/filter
@import blocks/catalog/catalog
@import blocks/contacts/contacts
@import blocks/footer/footer

@import js/adaptive-slider/sass/slider

// Container for slider positioning
.slider
  position: relative
  font-size: 0
  padding: 0
//max-height: 1000px
//overflow: hidden

.slider-layout
  display: inline-block
  font-size: 0
  margin: 0 auto
  position: relative
  width: 100%

/* COMMON STYLES */
*
  margin: 0
  padding: 0
  box-sizing: border-box

.clearfix:before,
.clearfix:after
  content: ""
  display: table


.clearfix:after
  clear: both

.text
  &--important
    color: #ec9da2

  &--email
    text-decoration: underline

  &--uppercase
    text-transform: uppercase



