/* CUSTOM STYLES FOR ADAPTIVE SLIDER */

.adaptive-slider

  &__image
    max-height: 1000px

  &__toggle
    $active-toggle-color: #74c7d5
    height: 20px
    width: 20px
    background: rgba(255, 255, 255, .5)
    margin: 0 40px 0 0
    border: none

    &:hover
      background-color: $active-toggle-color
    &--active
      background-color: $active-toggle-color


.inner-slider
  &.slider-layout
    position: absolute
    left: 50%
    top: 50%
    -moz-transform: translate(-50%, -100%)
    transform: translate(-50%, -50%)
    width: 100%
    z-index: 100

    & .adaptive-slider
      //&--active
      //  display: inline-block

      &__container
        width: 60%

      &__item
        display: none

        &--active
          display: block

        &--selected
          display: block

      &__content
        width: 100%
        display: flex
        align-items: center
        padding: 28px 42px
        background-color: rgba(255, 255, 255, .3)
        border-radius: 4px

        &-left
          margin: 0 23px 0 0
          flex: 1 1 50%
          color: #74c7d5
          font-size: 60px
          font-weight: 300
          line-height: 58px
          text-align: right
          display: inline-block

        &-right
          display: inline-block
          flex: 1 1 50%
          color: #74c7d5
          font-size: 120px
          font-weight: 900
          line-height: 120px
          text-transform: uppercase
          text-align: left
          transform: scale(1, 1.2)

      &__controls

        &-button
          width: 34px
          height: 56px

          background: transparent
          border-radius: 0
          color: transparent
          cursor: pointer
          font-size: 0
          margin-top: -28px
          position: absolute
          top: 50%
          z-index: 3

          &--next
            background-image: url(images/arrow-right.png)
            content: ""
          &--prev
            background-image: url(images/arrow-left.png)
            content: ""